#mainmenu {
	float:left;	}
#mainmenu ul	{
	margin: 20px 0 0 12px;
	padding: 12px;
	list-style: none;	}
#mainmenu ul li	{
	position: relative;
	float:left;	}
#mainmenu ul li ul,#mainmenu ul li ul li	{
	width:130px;
	color:red;	}
#mainmenu ul li ul {
	z-index: 2;
}
#mainmenu li ul {
	position: absolute;
	left: 0;
	top: 29px;
	display: none;
	float:left; }
#mainmenu ul li a {
	float:left;
	color:gray;
	width:80px;
	font-size:16px;
	padding: 10px 0 10px 0;
	text-align:center;
	background:aqua;
	}
#mainmenu li ul li a {
	padding:5px 0 3px 10px;
	text-align:left;
	font-size:12px;
	width:80px;
	background:transparent;
	color:blue;
	}
#mainmenu li ul li a:hover {
	background: #0ffff0;
	color:blue;
	}
#settings a {
		width:10px;
		padding:18px;
		height: 19px;
		font-size: 10px;
		line-height: 24px;
		}
#settings a img {
	width: 30px;
	height: 30px;
}
* html #mainmenu ul li {float:left; height: 1%;}
* html #mainmenu ul li a {height: 1%;}
#mainmenu li:hover ul,
#mainmenu li.over ul { display:block;}		
#nav {
	display: flex;
	flex-direction: column;
}
#tif ul {
	color:blue;
	background:pink;
}
#god ul {
	color:blue !important;
	background:aqua !important;
}